<div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="topicSelect">Topic</label>
        <select id="topicSelect" class="form-control">
          <option value="navigation-flight-planning">Navigation and Flight Planning</option>
          <option value="air-law">Air Law</option>
          <option value="meteorology">Meteorology</option>
          <option value="principles-of-flight">Principles of Flight</option>
          <option value="aircraft-technical-knowledge">Aircraft Technical Knowledge</option>
          <option value="medicine-human-factors">Medicine and Human Factors</option>
        </select>

        <label for="topicSelect">Topic</label>
        <select id="topicSelect" class="form-control">
          <option value="1">Fundamentals</option>
          <option value="2">Direction</option>
          <option value="3">Compass Direction</option>
          <option value="4">Speed</option>
          <option value="5">Vectors</option>
          <option value="6">Altimetry</option>
          <option value="7">Time</option>
        </select>
      </div>
    </div>
  </div>