<div class="row">
<div class="col-xs-4 col-md-4">
  <div class="form-group">

    <label for="courseSelect">Course</label>
    <select id="courseSelect" class="form-control" (change)="selectCourse($event.target.value)">
      <option
        *ngFor="let course of courses" 
        value="{{ course.path }}">
        {{ course.title }}
      </option>
    </select>
  
  </div>
</div>

<div class="col-xs-4 col-md-4">
  <div class="form-group">

    <label for="topicSelect">Topic</label>
    <select id="topicSelect" class="form-control" (change)="selectTopic($event.target.value)">
      <option
        *ngFor="let topic of topics"
        value="{{ topic.path }}">
        {{ topic.title }}
      </option>
    </select>

  </div>
</div>

<div class="col-xs-4 col-md-4">
    <div class="form-group">
    
    <label for="questionSetSelect">Question Set</label>
    <select id="questionSetSelect" class="form-control" (change)="selectQuestionSet($event.target.value)">
      <option
        *ngFor="let questionSet of questionSets"
        value="{{ questionSet.path }}">
        {{ questionSet.title }}
      </option>
    </select>
  </div>
</div>
</div>